streamlit==1.31.1
streamlit-webrtc==0.47.1

# ML / inference
tensorflow==2.15.0
keras==2.15.0

# image processing / util
opencv-python-headless==4.9.0.80
numpy==1.26.4
imutils==0.5.4
pillow==10.2.0

# webrtc dependency
av==10.0.0
